h1{
    color: black;
    background-color: coral;
    font-size: 20px;    
    margin: center;
    font-weight: 50px;

}

h2{
    color: cadetblue;
}
body{
    background-color: antiquewhite;
}

a{
    color: cadetblue;
    font-size: 25px;
}
